.todo {
  background: #fff;
  box-shadow: 1px 1x 1px rgba(0, 0, 0, 0.15);
  //padding: 3px 10px;
  padding-right: 10px;
  font-size: 12px;
  // margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
}
.taskText {
  font-size: 2.2vh;
  width: 100vh;
  margin-left: 1vh;
  text-align: justify;
  
}

.completeTask{
  text-decoration: line-through;
}


.deleteTask {
  float: right;
  size: 50px;
}





[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  display: block;
  position: absolute;  
  width: 20px; height: 20px;
  border: 1px solid #aaa;
  
  //margin-top: 4px;
  //margin-right: 20px;
  margin-left: 3px;
  border-radius: 50%;
  // position: absolute;
}


[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  display: inline-flex;
  margin-left: 5px;
  //margin-bottom: 8px;
  font-size: 20px;  
  color: #09ad7e;
  transition: all .2s;
   position: relative;
   bottom: 4px;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  // position: relative;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-top: 10px;
  cursor: pointer;
}

.todos input[type=checkbox]{
  display: none;
}

.checkbox1{
  text-align: center;
  align-items: center;
  align-content: center;
}

hr{
  margin: 2px;
}

label{
  margin-bottom: 0;
}